.articlecard2 {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1em;
  @include bpm-sm {
    margin-left: 5%;
    margin-right: 5%;
  }
  &-wrapper {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 2px solid lightgrey;
    &-image {
      height: 100%;
      width: 100%;
      margin: 3rem 0 1rem;
      &--item {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center 25%;
        background-repeat: no-repeat;
        &--wrapper {
          display: flex;
          justify-content: space-between;
          font-size: 18px;
          // font-weight: 600;
          font-family: $sub-font;
          letter-spacing: 0.2rem;
          margin: 3rem 0 1rem;
          width: 100%;
          @media (max-width: 376px) {
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
          }
          .left-text {
            &--first {
              color: #aaaaaa;
              @media (max-width: 376px) {
                padding-right: 4.5rem;
              }
              span.articlecard2-wrapper-info-small-link {
                text-transform: uppercase;
              }
            }
            &--second {
              color: $dark;
              padding-left: 1rem;
            }
          }
          .right-text {
            &--first {
              color: #aaaaaa;
            }
            &--second {
              color: $dark;
              padding-left: 1rem;
            }
          }
          @include bpm-sm {
            flex-direction: column;
          }
        }
      }
    }
    &-info {
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-small {
        display: none;
        font-size: 1.3rem;
        color: $dark-color-2;

        &-link {
          cursor: pointer;
          font-size: 2rem;
        }
      }
      &-primary {
        font-family: $sub-font;
        letter-spacing: 1.3px;
        margin-top: 1em;
        font-size: 3rem;
        // font-weight: 600;
        color: $color-font-black;

        line-height: 1.2;
        cursor: pointer;
      }
      &-secondary {
        font-family: $main-font;
        margin-top: 1em;
        font-size: 2rem;
        color: $color-font-black;
      }

      &-link {
        margin-top: 3em;
        font-size: 2.5rem;
        font-family: $sub-font;
        letter-spacing: 1px;
        color: $color-font-black;
        cursor: pointer;
        width: fit-content;
        position: relative;
        @include bpm-sm {
          margin-top: 1em;
        }
        &::after {
          content: '';
          height: 32px;
          width: 32px;
          background: url('/images/double-right-arrow.png');
          position: absolute;
          top: 0rem;
          right: -4rem;
          z-index: 3;
        }
        &:hover {
          transform: scale(1.1) !important;
          transition: 300ms ease-in-out;
        }
      }
    }
  }
}

.divider-down {
  margin-top: 1em;
  width: 100%;
  background-color: $color-primary2;
  height: 2.5px;
}

@media screen and (max-width: 480px) {
  .articlecard2 {
    &-wrapper {
      flex-direction: column;
      &-image {
        width: 100%;
      }
      &-info {
        width: 100%;
      }
    }
  }
}
