.blognav {
  margin-top: 2em;
  padding-bottom: 1em;

  &-wrapper {
    // display: flex;
    // justify-content: space-evenly;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    margin: 0 auto;

    padding-bottom: 3rem;
    @include bpm-sm {
      padding-bottom: 0rem;
    }
    width: 80%;
    border-bottom: 2.5px solid #e4e4e4;
    &-items {
      color: $color-font-muted;

      cursor: pointer;

      p {
        font-family: $book;
        letter-spacing: 0.8px;
        font-size: 1.8rem;
        width: fit-content;
        word-wrap: none;
        &:hover {
          color: $color-font-black;
          //border-bottom: 2.5px solid black;
        }
      }

      &:active {
        color: $color-font-black;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .blognav {
    &-wrapper {
      &-items {
        margin: 0rem 2rem 2rem 2rem;
        white-space: nowrap;
      }
    }
  }
}
