.c-logo {
  &__image {
    display: block;
    width: 200px;
  }
  &__text {
    color: black;

    font-size: 24px;
    font-family: 'Playfair Display', serif;
    display: block;
    &-footer {
      color: black;
      font-family: 'Playfair Display', serif;
      font-size: 40px;
    }
  }
  &--non-home {
    width: -webkit-fill-available;
    text-align: center;
    .c-logo {
      &__img {
        width: 80px;
      }
    }
  }
}
