.directors-section-wrapper {
  width: 100%;
  padding: 5rem 5rem 2rem;
  font-family: $book;
  color: $dark-color-2;
  @include bpm-sm {
    padding: 0rem 2.5rem 0rem;
  }
  .c-directors {
    &__title {
      font-size: 4rem;
      text-align: center;
      margin-bottom: 5rem;

      @include bpm-sm {
        font-size: 3rem;
        margin-bottom: 2.5rem;
      }
    }
    &__cards {
      display: flex;
      @include bpm-sm {
        display: block;
      }
      &-card {
        width: 100%;
        text-align: center;
        @include bpm-sm {
          margin-bottom: 2rem;
        }
        &-img {
          width: 50%;
        }
        &-name {
          font-weight: 600;
          padding: 1.5rem 0 0.5rem;
          font-size: 2rem;
        }
        &-desc {
        }
      }
    }
  }
}
