.c-btn {
  padding: 5px;
  display: inline-block;
  font-family: $sub-font;
  font-size: 15px;
  text-align: center;
  color: $base-color;
  border: none;
  background-color: transparent;
  text-decoration: none;
  // font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
  @include bp-xxl {
    // font-size: $font-size-xxl;
  }

  &:hover {
    text-decoration: none;
    color: $base-color;
    box-shadow: none;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &--block {
    display: block;
    width: 100%;
    @include bpm-sm {
      width: 60%;
      margin: auto;
    }
  }
  &--btm-br {
    position: relative;
    margin-right: 50px;
    color: $dark-color-2;
    font-size: 3rem;
    text-align: center !important;
    &:hover {
      color: $dark-color-2;
      transform: scale(1.1);
    }
  }
  &--btm-br-gold {
    color: $brand-color-1;
    &:hover {
      color: $brand-color-1;
    }
  }
  &--outline {
    min-width: 150px;
    border: 1px solid $base-color;
    padding: 6px 25px;
    border-radius: 0;
    // font-weight: 600;
    letter-spacing: 0.5px;
    &:hover {
      background: $dark-color-2;
      color: $light-color;
    }
  }
  &--outline-gold {
    min-width: 150px;
    border: 1px solid $brand-color-1;
    padding: 6px 25px;
    color: $brand-color-1;
    // font-weight: 600;
    letter-spacing: 0.5px;
    &:hover {
      @include goldGradient;
      color: $base-color;
    }
  }
  &--gold {
    min-width: 150px;
    border: 1px solid $brand-color-1;
    padding: 6px 25px;
    @include goldGradient;
    color: $base-color;
    letter-spacing: 0.5px;
    &:hover {
      background: $base-color;
      color: $brand-color-1;
    }
  }

  &--dark {
    &:hover {
      background-color: $light-color !important;
      border: 1px solid $dark-color-2 !important;
      color: $dark-color-2 !important;
    }
  }

  &--discount {
    background-color: $dark;
    // min-width: 150px;
    letter-spacing: 0.5px;
    width: 30%;
    height: 51px;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    &:hover {
      background-color: $light-color !important;
      border: 1px solid $dark-color-2 !important;
      color: $dark-color-2 !important;
    }
  }
}
