// .c-radio {
//   &__input {
//     display: none;
//     &:checked + .c-radio__icon {
//       background-color: $brand-color-1;
//       &:after {
//         content: "";
//         display: block;
//         width: 5px;
//         height: 5px;
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         margin: auto;
//         border-radius: 50%;
//         background-color: $light-color;
//       }
//     }
//   }
//   &__label {
//     display: flex;
//     align-items: center;
//     cursor: pointer;
//   }

//   &__icon {
//     position: relative;
//     width: 20px;
//     height: 20px;
//     border-radius: 50%;
//     border: 1px solid $brand-color-1;
//     margin-right: 10px;
//     // svg {
//     //     width: 50px;
//     //     height: auto;
//     // }
//   }
//   &--gold {
//     .c-radio {
//       &__label {
//         color: $brand-color-1;
//       }
//     }
//   }
// }

// // change default radio
// .ant-radio {
//   * {
//     box-shadow: none !important;
//   }

//   &-inner {
//     width: 20px;
//     height: 20px;
//     border: 1px solid $dark-color-2;
//     &:after {
//       // top: 5px;
//       // left: 5px;
//     }
//   }
//   &-group {
//     &.bordered {
//       .ant-radio-wrapper {
//         background-color: $dark-color-1;
//         padding: 12px 65px 12px 15px;
//         display: block;
//         margin-bottom: 15px;
//         border: 1px solid $brand-color-1;
//       }
//     }
//     &.underline {
//       .ant-radio-wrapper {
//         display: block;
//         padding: 10px;
//         span.ant-radio + * {
//           padding: 5px 0px;
//           margin-left: 15px;
//           border-bottom: 1px solid $brand-color-1;
//         }
//       }
//     }
//   }
//   &-checked {
//     .ant-radio {
//       &-inner {
//         border: 2px solid $dark-color-2 !important;
//         border-radius: 4rem;
//         background-color: $light-color;
//         box-shadow: none !important;
//         &:after {
//           background-color: $dark-color-2;
//           border: 5px solid $dark-color-2;
//           top: 21.5%;
//           left: 18%;
//         }
//       }
//     }
//     &:after {
//       border-color: $brand-color-1;
//     }
//   }
// }
// .ant-radio-wrapper {
//   @include bpm-md {
//     white-space: normal;

//     .ant-form-item-children {
//       width: 100%;
//     }
//   }
// }

// .ant-radio-wrapper:hover .ant-radio,
// .ant-radio:hover .ant-radio-inner,
// .ant-radio-input:focus + .ant-radio-inner {
//   border-color: rgb(165, 165, 165);
// }
.ant-radio-wrapper-checked {
  .ant-radio-checked {
    visibility: hidden;
  }
  .ant-radio-inner {
    position: relative;
    &::before {
      content: "";
      visibility: visible;
      position: absolute;
      top: -2px;
      left: -1px;
      width: 19px;
      height: 19px;
      background: url("/images/radio-unchecked.png") center center/cover;
    }
    &::after {
      content: "";
      visibility: visible;
      position: absolute;
      top: 3px;
      left: 4.2px;
      height: 9px;
      width: 9px;
      transition: 1ms ease-in;
      background-color: black;
    }
  }
}
.ant-radio {
  position: relative;
  visibility: hidden;
  &::after {
    content: "";
    visibility: visible;
    position: absolute;
    top: -2px;
    width: 19px;
    height: 19px;
    background: url("/images/radio-unchecked.png") center center/cover;
  }
}
