// .c-search-box {
//     position: relative;
//     border-bottom: 2px solid $dark-color-2;
//     &__input{
//         input{
//         font-size: xx-large;
//         color:$dark-color-2;
//         margin-bottom:10px;
//         padding-bottom: 10px;
//     }
// }
   
//     &__search-icon{
//         position: absolute;
//         right: 0;
//         top: 0;
//         bottom: 0;
//         margin: auto;
//         color:#b1b1b1;
//     }
// }
// .cls-search-1 {
//     stroke: #b1b1b1 !important;
//     stroke-width: 2px;
// } 

.c-search-page__row {
    .c-search-page__sub-heading {
        text-align: center;
        font-size: 24px;
        margin-top: 24px;
        letter-spacing: 1px;
        color: #aaaaaa;
        span {
            &.search-text {
                color: #000000;
                margin-left: 4px;
            }
        }
    }
}

.c-search-box {
    .c-search-box__search-icon {
        position: absolute;
        right: 20px;
        top: 32px;
    }
    .c-search-box__input {
        .c-input__input {
            font-size: 28px;
            margin-top: 32px;
        }
    }
}