.c-learn-page {
  padding: 50px;
  @media (max-width: 400px) {
    padding: 30px 20px;
  }
  &__heading {
    font-size: 30px;
    font-family: $sub-font;
    // font-weight: 500;
    opacity: 0.9;
    @media (max-width: 400px) {
      font-size: 18px !important;
      // font-weight: 700;
    }
  }
  &__sub-heading-1 {
    font-size: 26px;
    font-family: $sub-font;
    // font-weight: 500;
    opacity: 0.9;
    @media (max-width: 400px) {
      font-size: 18px !important;
      // font-weight: 600;
    }
  }
  &__sub-heading-2 {
    font-size: 18px;
    font-family: $sub-font;
    // font-weight: 500;
    opacity: 0.9;
    @media (max-width: 400px) {
      font-size: 15px !important;
      // font-weight: 300;
    }
  }
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 10px 0 !important;
}

.ant-collapse-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
  z-index: 1;
  position: relative;
  font-family: $sub-font;
  font-size: 21px;
  // font-weight: 500;
  @media (max-width: 400px) {
    font-size: 16px !important;
  }
}

p {
  font-family: $main-font;
  font-size: 16px;
  @media (max-width: 400px) {
    font-size: 14px;
  }
}

li {
  font-family: $main-font;
  font-size: 16px;
  @media (max-width: 400px) {
    font-size: 14px;
  }
}

.c-learn-page__panel {
  padding: 10px 0 !important;
  border: none !important;
  background-color: white !important;

  &--border {
    border-bottom: 2px solid rgba(0, 0, 0, 0.08) !important;
  }
}

.c-learn-page__collapse {
  width: 60%;
  background-color: white;
  color: black;
  // font-weight: 700;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  padding: 10px 30px;
  @media (max-width: 768px) {
    width: 100%;
    padding: 0;
  }
}

.c-learn-page__collapse1 {
  width: 100%;
  background-color: white;
  color: black;
  // font-weight: 700;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
}