.my-order {
  &__heading {
    h1 {
      // font-weight: 900;
      font-size: 4rem;
    }
    font-family: $heavy;
    padding-top: 4rem;
    @include bp-xs {
      padding: 6rem 4rem 0 1rem;
    }
    @include bp-sm {
      padding: 6rem 4rem 0 3.5rem;
    }
    @include bp-md {
      padding: 6rem 4rem 0 8rem;
    }
    @include bpm-sm {
      padding-bottom: 3rem;
    }

    text-transform: lowercase;
    @include bpm-xs {
      text-align: center;
    }
  }

  &__wrapper {
    padding: 40px;
    background: $light-color;
    @include bpm-sm {
      padding: 10px;
    }

    ul.nav.flex-column {
      @include bp-md {
        margin-left: 4rem;
      }
      font-family: $heavy;
      // ! ***********************************************************
      // ! Large tab layout for nav (sidebar)
      @include bpm-md {
        hr {
          display: none;
        }
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: left;

        grid-gap: 1rem;

        * {
          font-size: 1.6rem;
        }
      }
      @include bpm-sm {
        * {
          font-size: 1.4rem;
        }
      }
      @include bpm-xs {
        // margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        * {
          font-size: 3vw !important;
        }
      }

      @media screen and (max-width: 450px) {
        * {
          font-size: 3.8vw !important;
        }
      }
    }
    .container-fluid {
      .row {
        .col-lg-10 {
          @include bp-md {
            padding: 0 12rem 0 8rem;
            transform: translateX(9rem);
            border-left: 2px solid rgba(0, 0, 0, 0.08);
          }

          @include bp-xl {
            padding-left: 15rem;
          }

          .billing-address-text {
            .react-tel-input {
              input {
                margin-bottom: 0 !important;
                margin-top: 2rem;
                border-bottom: none !important;
              }
              margin-bottom: 0.8rem;
            }
            .my-order__address.row {
              margin-top: -2.5rem;

              .col-md-4 {
                @include bpm-xs {
                  padding: 0rem;
                }
              }
            }
          }
        }
      }
    }
    .change-password-container {
      display: flex;
      flex-direction: column;
      .a-cp__has-input {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        @include bpm-sm {
          // grid-template-columns: 0fr;
          // grid-template-rows: 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          justify-items: center;
        }
        .a-cp {
          padding: 0;
          width: 20rem;
          word-wrap: none;
          @include bpm-sm {
            // text-align: center;
          }
        }
        .a-cp__input {
          background-color: #e4e4e4;
          width: 20rem;
          @include bpm-sm {
            text-align: center;
            // margin-bottom: 4rem;
          }
          @include bpm-xs {
            width: 150%;

            // margin-bottom: 4rem;
          }
        }
        p {
          margin: 0;
          width: 20rem;

          position: absolute;
          top: 0.7rem;
          right: -22rem;
          @include bpm-xxl {
            top: 1rem;
            right: -28rem;
          }
          @include bpm-lg {
            top: 1rem;
            right: -32rem;
          }
          @include bpm-sm {
            position: static;
            text-align: center;
          }
        }
      }
    }
    .c-btn.c-btn--dark.c-btn-cp {
      margin: 3rem 0 0 5rem;
      @include bpm-sm {
        margin: 3rem auto;
      }
    }
  }

  &__panel {
    border: none;

    .insert-card-strip {
      margin-bottom: 4rem;
      position: relative;
      &::after {
        content: '';
        position: initial;
        height: 4.3rem;
        width: 20.7rem;
        margin-top: 0px;
        margin-left: 10px;
        left: 1rem;
        background: url('/images/strip.png');
      }
    }
    .add-payment-button {
      margin-top: 7rem;
      display: flex;
      flex-direction: column;
      div {
        button {
          color: black;
        }
      }
    }
    .checking-account-details {
      * {
        padding: 0 !important;
        font-family: $main-font;
      }
    }
  }

  &__detail {
    display: flex;
    // .card {
    //   margin-left: 90px;
    // }
    flex-wrap: wrap;
    * input {
      padding: 0 !important;
    }
    .billing-address-text {
      * input {
        font-size: 1.6rem;
      }
      input[type='tel'] {
        font-size: 1.6rem;
        &::placeholder {
          color: #aaa;
        }
      }
    }
  }

  &__alert {
    width: 25%;
    padding-right: 20px;
    padding-left: 25px;
    border-radius: 0;
    max-width: 100%;

    @include bpm-sm {
      width: 100%;
      padding-bottom: 10px;
      padding-right: 0;
    }

    &--msg {
      background: transparent;
      border: none;
      font-size: 15px;
      margin-bottom: 0;
      // font-weight: 600;
      border-radius: 0;
      padding: 0;
    }
  }

  &__msg-title {
    font-size: 30px;
    margin-bottom: 15px;
    // margin-left: 15px;
    &-fav {
      font-size: 20px;
      padding-left: 50px;
      // width: 80%;
      // margin: 0 auto;
      @include bpm-xs {
        padding-left: 10px;
      }
      @include bpm-xxs {
        padding-left: 10px;
      }
      @include bpm-sm {
        padding-left: 10px;
      }

      //mobile small
    }
    // small tab and mobile landscape

    @include bpm-xs {
      font-size: 28px;
    }

    //mobile small
    @include bpm-xxs {
      font-size: 24px;
      margin-left: 16px;
    }
  }

  &__subtitle {
    width: 640px;

    > em {
      font-size: 2rem;
    }
    color: $brand-color-1;
    // font-weight: 500;
    max-width: 100%;
  }

  &__list-wrap {
    padding-left: 20px;
    padding-top: 10px;
    list-style: none;
  }

  &__listing {
    padding: 10px 0;
    padding-left: 3rem;
    position: relative;
    em {
      font-size: 2rem;
    }
    &:before {
      content: '';
      position: absolute;
      top: -1px;
      bottom: 0;
      left: 1rem;
      width: 7px;
      height: 7px;
      background: $black;
      border-radius: 50px;
      margin: auto;
    }
  }

  &__shopping {
    border-radius: 0;
    padding: 13px;
    margin-top: 15px;
    width: 500px;
    max-width: 100%;
  }

  &__dark-hr {
    border-top: 1px solid $black;
    margin-top: 60px;
  }

  &__thead {
    display: none;
  }

  tbody {
    padding-bottom: 2rem !important;

    // padding: 0 8rem 2rem 8rem !important;
  }
  &__t-row {
    &__wrapper {
      margin-bottom: 5rem;
      // @include bpm-lg {
      //   display: flex;
      //   align-items: flex-start;
      // }
    }
    @include bpm-sm {
      > div {
        display: flex;
      }
    }

    border-bottom: 1px solid $brand-color-1;
    // padding: 0 4rem;
    display: flex;
    // flex-wrap: wrap;
    position: relative;
    align-items: flex-start;

    justify-content: flex-start;
    padding: 1.5rem 4rem;
    max-width: 90%;
    margin: 0 auto;
    @include bpm-sm {
      max-width: 100%;
      padding: 1.5rem 2rem;
    }
    @include bpm-xs {
      max-width: 100%;
      padding: 1.5rem 1rem;
    }
    &--v-bottom {
      align-items: flex-end;
    }

    td:last-child {
      div:nth-child(2) {
        margin-bottom: 2rem;
      }
    }

    @include bpm-xs {
      td:first-child {
        margin-bottom: 0 !important;
      }
    }
  }

  &__t-link {
    font-family: $book;
    color: $black;
    text-decoration: none;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  &__t-btn {
    background-color: transparent !important;
    color: $black;
    border: 0;
    font-size: 14px;
    padding: 0 10px;
    border-color: transparent !important;
    box-shadow: none;

    &:hover {
      background: $light-color;
      color: $brand-color-1 !important;
      text-decoration: underline;
      border: 0;
    }
    &:focus {
      box-shadow: none !important;
      color: black !important;
    }
    &:active {
      color: $brand-color-1 !important;
      text-decoration: underline;
    }
    &.btn.btn-secondary {
      margin-right: -10px;
      @media (max-width: 376px) {
        padding-left: 2px;
      }
    }
  }

  &__table {
    &--sno {
      flex: 1 0 20px;
    }

    &--name {
      flex: 1 0 20%;
      font-family: $book !important;
    }

    &--price {
      flex: 1 0 10%;
      text-align: center;
    }

    &--date {
      flex: 1 0 15%;
    }

    &--status {
      flex: 1 0 15%;
    }

    &--action {
      * {
        font-family: $book;
      }
      .btn-group {
        > span {
          margin-left: 4rem;
          @include bpm-xs {
            margin-left: 2.5rem;
          }
        }
      }
    }
    &--img {
      width: 140px;
      height: auto;
    }
  }

  &__t-note {
    position: absolute;
    bottom: 0;
    right: 5rem;
    color: $brand-color-1;
    @include bpm-sm {
      right: 2.5rem;
    }
    @include bpm-xs {
      position: absolute;
      bottom: -10rem;
      right: 0;
    }

    &:hover {
      border-bottom: 1px solid $cart-bg-color;
    }
  }

  &__tl-note {
    position: absolute;
    bottom: 0px;
    left: 8rem;
    color: $brand-color-1;
    @include bpm-sm {
      left: 5rem;
    }
    @include bpm-xs {
      bottom: -10rem;
      left: 0;
    }
  }

  .table {
    .my-order {
      &__t-col {
        font-family: $sub-font;
        border-top: 0;

        @include bpm-sm {
          display: block;
          text-align: right;

          &::before {
            display: none;
            content: attr(data-label);
            float: left;
            // font-weight: bold;
            color: $dark;
          }
        }

        @include bpm-xs {
          &::before {
            left: 2rem;
            margin-left: 2rem;
            text-align: right;
            width: 18%;
            border-radius: 5px;
          }
        }

        @media (max-width: 376px) {
          &::before {
            width: 20%;
          }
        }
      }

      &__t-head {
        border-top: 0;
      }
    }
  }
  &__card-body {
    font-family: $main-font;

    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card-subtitle {
      color: $dark-color-2 !important;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      margin-top: 6rem;
      // margin-left: 5rem;
      > form {
        padding-left: 0 !important;
      }
      @media (max-width: 750px) {
        margin: 6rem 0 0 0;
      }
      //large tabs
      @include bpm-md {
        margin: 6rem 0 0 6rem;
      }

      //small tab and mobile landscape
      @include bpm-sm {
        margin: 6rem 0 0 0;
      }

      //mobile small
      @include bpm-xxs {
        margin: 6rem 0 0 0;
      }

      .my-order__card-body {
        font-family: $heavy;
      }
    }
    > div:last-child {
      @include bp-md {
        // width: 50%;
        * {
          font-size: 1.8rem;
        }
        .c-btn.c-btn--dark {
          font-size: 1.6rem !important;
        }
        // margin-left: 2.5rem;
        > form {
          padding-left: 2.6rem;
        }
      }
    }
  }
  &__singleadd {
    * {
      font-family: $book;
    }
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid #e4e4e4;
    margin-top: 30px;
    @include bpm-sm {
      flex-wrap: wrap;
    }
  }

  &__address-ul {
    * {
      font-family: $book;
    }

    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    color: $black;
  }

  &__simple-link {
    color: $black;
    &:hover {
      color: $brand-color-1;
    }
  }
  &__add-item {
    align-items: center;
  }
  &__add-sm {
    font-family: $sub-font;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 0;
    color: $dark-color-2;
  }
  &__transition-item3 {
    border: none;
    margin-left: 9rem;
    padding: 0px;
    @include bpm-sm {
      margin-left: 0rem;
    }
  }
  &__card-detail {
    display: flex;
  }
  &__search-icon {
    position: absolute;
    top: 4px;
    left: 10px;
    margin-right: 20px;
  }

  &__search-icon-input {
    padding-left: 40px;
  }
  .row {
    .col-12 {
      &:first-child {
        .my-order {
          &__singleadd {
            margin-top: 0;
          }
        }
      }
    }
  }
  .row {
    @media screen and (max-width: 400px) {
      padding: 0;
    }
  }
  .container-fluid {
    @media screen and (max-width: 400px) {
      padding: 0;
    }
  }
  .col-lg-10 {
    padding-bottom: 5rem;
    @include bpm-xs {
      padding-bottom: 2rem;
    }
    @media screen and (max-width: 400px) {
      padding: 0;
    }
  }
  .col-12.pt-3 {
    @media screen and (max-width: 400px) {
      padding: 0;
    }
  }
  .container {
    @media screen and (max-width: 400px) {
      padding: 0;
    }
  }
  .col-lg-8.p-5.col-md-8 {
    @media screen and (max-width: 400px) {
      padding: 1rem !important;
    }
  }
}
.nav.flex-column {
  hr {
    margin-top: 3rem;
  }
  @include bp-md {
    width: 150%;
  }
  @include bp-xl {
    width: 100%;
  }
}
.my-accountLink,
a.my-accountLink {
  padding: 16px 0;
  // font-weight: 500;
  // my account sidebar font weight
  font-family: $sub-font;
  &:hover,
  &.active {
    a {
      padding-bottom: 0.3rem;
      border-bottom: 2px solid $dark-color-2;
    }
    // color: $black;
    // text-decoration: underline;
    // font-weight: 600;
  }

  &__link {
    color: $black;
    font-size: 16px;

    &:hover {
      color: $black;
    }
  }
}
.card-title {
  width: 100%;
  margin-bottom: 0;
  padding-top: 15px;
  margin-left: 90px;

  // padding-left: 25px;
  .col-md-10,
  .col-md-12 {
    padding: 0px;
  }
  @include bpm-sm {
    margin-left: 0px;

    border-top: 1px solid $brand-color-1;
    border-left: none;
    padding-left: 0px;
    padding-top: 0;
    width: 100%;
  }
}

.sidebar-icon {
  display: none !important;
}

.flex-column p {
  // font-weight: 600;
}

/*------- new ----------*/
.my-order__table img.favrate-list-image-width {
  max-width: 100%;
}
.my-order__table--name,
.my-order__table--action {
  margin-bottom: 40px;
  padding-left: 5px;
  @include bpm-xs {
    margin-bottom: 0 !important;
  }
}

.flag-none .flag-dropdown {
  display: none;
}
/*------------- change password -------------------*/
.cp-card {
  // width: 50%;
  margin-left: 10rem;
  @include bpm-xs {
    margin-left: 0rem;
  }
  .row {
    display: block !important;
    .col-lg-8.col-md-8 {
      max-width: 100% !important;
      .col-md-12 {
        padding: 0 !important;
        * {
          font-size: 1.8rem;
        }
      }
      .row.frm-details {
        transform: translateX(-2rem);
      }
      .row {
        display: flex !important;
      }
    }
  }

  .a-cp {
    margin: 20px 0;
    width: 30%;
    font-family: $book;
    letter-spacing: 1px;
    // border-right: 1px solid $brand-color-1;
    // padding-right: 50px;
    padding-left: 0;
    // font-weight: 600;
    @include bpm-sm {
      width: 100%;
      border-right: 0;
      // border-bottom: 1px solid $brand-color-1;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    &__input {
      width: 40%;
      border: none;
      outline: none;
      margin-left: 10px;
      //border-bottom: 1px solid;
      background-color: #e4e4e4;
      border-radius: 5px;
      height: 35px;
      @include bpm-sm {
        width: 100%;
        border-bottom: 0;
      }
    }
    &__error {
      color: $error-color;
      margin-left: 170px;
    }
    &__has-input {
      // border-bottom: 1px solid;
      // justify-content: center;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &__card-body {
      padding-top: 0;
    }
  }
}
