.contact-page-banner {
  @include bpm-sm {
    padding: 2rem 3rem !important;
  }
}

.c-contact-form {
  .ant-input {
    padding-left: 0;
  }
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    margin-top: 5rem;

    &-left {
      padding-left: 15rem;
      .ant-radio-group.ant-radio-group-outline {
        display: flex;
        flex-direction: column;
        width: 80%;
        @include bpm-xl {
          width: 100%;
        }
        .c-contact-form__radio {
          display: flex;
          padding: 2rem 0;
          align-items: center;
          border-bottom: 1px solid #e4e4e4;
          span:last-child {
            padding-left: 3rem;
            white-space: pre-wrap;
          }
          span {
            font-size: 1.8rem;
            b {
              font-family: $sub-font;
              font-weight: normal;
              font-size: 2rem;
            }
          }
        }
        span {
          font-size: 1.8rem;
          b {
            font-size: 2rem;
          }
        }
      }
      @include bpm-xl {
        padding-left: 10rem;
        width: 100%;
      }
      @include bpm-md {
        padding-left: 0;
      }
    }
    @include bpm-xl {
      grid-template-columns: 1fr 1.2fr;
    }
    @include bpm-md {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.5fr;
      margin-top: 2rem;
    }
    &-right {
      @include bpm-md {
        margin-top: 3rem;
      }
      .c-contact-form__main-form {
        width: 60%;
        margin: auto;
        @include bpm-md {
          width: 100%;
        }
        .contact-form-button {
          margin: 5rem 0;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  &__info-block {
    &__row {
      width: 60%;
      margin: 0 auto 0 auto;

      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: flex-start;
      * {
        color: black;
        font-size: 1.8rem;
      }
      @include bpm-xl {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
      }
    }
  }
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background: rgba($brand-color-1, 0.122);
}
.ant-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
}

.ant-input:focus,
.ant-input:hover {
  outline: none !important;
  box-shadow: none;
  border: none;
}
.error {
  color: red;
}
